*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    }
.filter-container{
    background: rgb(220, 220, 220);
    width: 300px;
    padding:20px;
   display: flex;
   flex-direction: column;
}

img{
width: 250px;

}
.product-image{
    width: 75vw;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.sub-image{
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 1px solid black;
    justify-content: space-between;
    width: 260px;
    /* padding: 15px; */
    margin: 10px;
}
.price,.product-name{
    font-weight: 600;
}
.strike-price,.per-cent{
    font-size: 0.8rem
}
.per-cent{
    color: orange;
}
.detail{
    display: flex;
    flex-direction: column;
}