*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: #ffffff;
    overflow-x: hidden;
}
.nav-body{
    background: rgb(255, 255, 255);
    display: flex;
    height: 80px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: fixed;
    top: 0;
    z-index: 10;
}
.nav-list{
    display: flex;
    width: 95vw;
   justify-content: space-between;
}



.nav-logo, .nav-link, .nav-searchBar,.nav-personal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link, .nav-searchBar{
    width: 35%;
    font-weight: 640;
    font-size: 0.85rem;
   
}
.nav-link a{
    text-decoration: none;
    color: black;
}
.nav-link{
display: flex;
justify-content: space-evenly;
width: 40%;
min-width: 550px;
}
.nav-searchBar{
    min-width: 250px;
}
.nav-personal{
    width: 15%;
    min-width: 200px;
}



.nav-logo img{
    width: 60px;
}

.nav-personal{
    display: flex;
  
}
.personal{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.personal span{
    font-size: 0.8rem;
}
.personal i{
    font-size: 1.2rem;
}

.nav-searchBar input{
    width: 90%;
    height: 40px;
    border: none;
    background: #eeeeee;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
}
.nav-searchBar button{
    width: 10%;
    height: 40px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #eeeeee;
}
.nav-searchBar ::placeholder{
   color: rgba(77, 77, 77, 0.695);
}

main{
    position: absolute;
    top: 75px;
}

.main-bg{
    width: 100vw;
}
.img-section{
    width: 100vw;
}
.img1,.img2,.img3,.img4,.img5,.img6,.img7{
    width: 100%;
}
.img1{
    margin-top: 25px;
}
.img1 img{
    width: 100%;
}
.img2,.img4{
    display: flex;
}
.img2 img{
    width: 50%;
}
.img4 img{
    width: 49.5%;
}
.img3 img{
width: 100%;
}
.img5 img{
    width: 100%;
    }
.img5 img{
    width: 100%;
    }

.img6 img{
    width: 100%;
    }

.img7 img{
    width: 100%;
    }
    

.slider1{
display: flex;
overflow-x: auto;
}

.slider1 img{
width:16.6%;
}
.slider1-radio-button{
    display: flex;
    justify-content: center;
    gap: 15px;
}
#left, #right{
    width: 12px;
}
.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.category img{
    width: 16.666%;
}

.box{
    height: 80px;
    display: flex;
    align-items: center;
    min-width: 50px;
    justify-content: center;
}

.new{
    font-weight: bold;
    color: #ff0062;
    font-size: 0.5rem;
}

.box1,.box2,.box3,.box4,.box5,.box6{
   /* background-color: aqua; */
   border-bottom:  3px solid white;
}

.box1:hover{
    border-bottom: 3px solid #EE5F73;
}

.box2:hover{
    border-bottom: 3px solid #FB56C1 ; 
}

.box3:hover{
    border-bottom: 3px solid #F26A10 ;
    
}

.box4:hover{
    border-bottom: 3px solid #F2C210 ;
}

.box5:hover{
    border-bottom: 3px solid #0DB7AF ;
}

.box6:hover{
    border-bottom: 3px solid #FF3F6C ;
}

.men-list,.women-list,.kid-list,.home-list,.beauty-list{
 background: #ffffff;
 display: flex;
 width: 1110px;
 height: 440px;
 justify-content: space-around;
 font-size: 0.85rem;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: 400;
 gap: 10px;
 position: fixed;
 top:80px;
 left: 150px;
 z-index: 9;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px inset, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
}
.men-list ul{
    list-style-type: none;
}
.women-list ul{
    list-style-type: none;  
}
.kid-list ul{
    list-style-type: none;
}
.home-list ul{
    list-style-type: none;
}
.beauty-list ul{
    list-style-type: none;
}
.list-div2, .list-div4{
    background: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px inset, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
}

.list-div, .list-div2,.list-div3, .list-div4,.list-div5{
    width:25%;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-right: 1%;
}
.category-list{
 display: flex;
 flex-direction: column;
 gap: 5px;
}
.category-list a{
    text-decoration: none;
    color: black;
}
.category-list a :hover{
   font-weight: bold;

}
.category-list h4{
    color:#EE5F73 ;
    margin-top: 10px;
}

.hide{
    display: none;
}

.fade-box{
    width: 100vw ;
    height: 100vh;
    background: rgba(0, 0, 0, 0.61);
    position: fixed;
    z-index: 8;
}
.fade-hide{
    display: none;
}

.women-color h4{
    color: #FB56C1 ;
    margin-top: 10px;
}
.hide2{
    display: none;
}
.kid-color h4{
    color: #F26A10 ;
    margin-top: 10px;
}
.hide3{
    display: none;
}

.home-list h4{
    color: #F2C210;
    margin-top: 10px;
}
.hide4{
    display: none;
}

.beauty-list h4{
    color:#0DB7AF ;
    margin-top: 10px;
}
.hide5{
    display: none;
}

.studio-div{
    width: 545px;
    height: 454px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 80px;
    left: 350px;
    z-index: 9;
}
.studio-cont1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.studio-div img{
    width: 80%;
}
.chevron-right{
    font-size: 0.5rem;
    color: black;
}
.studio-btn{
    width: 220px;
    height: 60px;
    background: transparent;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    gap: 10%;
}
.cont2{
    margin-bottom: 50px;
    display: flex;
    gap: 25px;
}
.hide6{
    display: none;
}



/* footer | footer | footer */

.footer-body{
    margin-top: 60px;
    background: #FAFBFC;
}

.footer-content{
    padding-top: 40px;
    padding-bottom: 40px;
   width: 80%;
   display: flex;
   justify-content: space-evenly;
   font-size: 0.8rem;
   min-width: 700px;
}
.cont1 ul{
   list-style-type: none;
}
.cont1 a{
text-decoration: none;
color: rgb(94, 94, 94);
}
.list{
    margin-top:5px;
}
.list h4{
    color: black;
}
.cont-div3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cont-div3 img{
    width: 120px;
    height: 35px;
}
.social-icon{
    display: flex;
    gap: 20px;
}

.social-icon img{
 width: 20px;
 height: 20px;
}

